/***************************
    Search
***************************/
 /*flex to ensure input field and submit button appear side by side for desktop view */
  .searcharea {
    margin-top:35px ;
    @include flexbox-display();
     justify-content: center;
     margin-bottom: 10px;
  }
    
  #search{
      width: 28%;
      height: 40px;
      border-radius: 5px 0 0 5px;
      outline: none;
      color: $search-text;
      @include mobile{
        width:40%;
        height:30px;
      }
  }
   
  .fa-search {
    width: 30px;
    height: 30px;
    color: $search-text;
    @include mobile{
      height:20px;
      }
  }
    